<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">
    <title>Criar uma Conta</title>
</head>
<body>
    <div class="Principal">
        <h1>
            Crie sua Conta
        </h1>
        <h5>Nome completo</h5>
        <input type="text" name="email" method="GET" autocomplete="nome">
        <h5>E-mail</h5>
        <input type="email" name="email" method="GET" autocomplete="email">
        <h5>Senha</h5>
        <input type="password" name="senha1" method="GET">
        <h5>Confirme a senha</h5>
        <input type="password" name="senha2" method="GET">
        <h5></h5>
        <button type="submit" value="conta">Criar conta</button>
    </div>
</body>
</html>