<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Apoio á amamentação</title>
</head>

<body>
    <img src="https://raw.githubusercontent.com/AlexanderMoraes7/Amamentacao/main/images/m%C3%A3e_a_amamentar_seu_filho.jpg" alt="Imagem de uma mulher amamentando seu filho, recém nascido.">
    <div class="Caixa">
        <h1>
            teste
        </h1>
    </div>
</body>
</html>