body {
    background:linear-gradient(to right, #f67299,#772976);
}

/* Comentários
Busca do label é feita pelo id.
*/

img {
    width: 95%;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 2%;
} 

.Caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5%;
    padding-top: 10%;
}

.Input1{
    align-items: center;
    display: flex;
    box-sizing: border-box;
    background-color: #fdcbe6;
    margin: 3%;
    padding: 3%;
    width: 90%;
    border-radius: 50px;
}

.Input1 input:focus-visible {
    outline: none;
    background-color: transparent;
}

.Input1 input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.Input1 i{
    color: #fff;
    padding: 0px 10px 0px 0px;
}

.Input2{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: none;
    background-color: #fdcbe6;
    margin: 3%;
    padding: 3%;
    width: 90%;
    border-radius: 50px;
}

.Input2 input:focus-visible {
    outline: none;
}

.Input2 input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.Input2 i{
    color: #fff;
    padding: 0px 10px 0px 0px;
}

.Text1{
    margin: 0% 0% 3% 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Login button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #b3097b;
    background-color: #b3097b;
    border-radius: 50px;
    color: #FFF;
    width: 78vw;
    height: 13vw;
}

.Login button :hover{
    border: #000;
    background-color: #e90ae95d;
    border-radius: 50px;
    color: #000;
}

.Text2{
    display: flex;
    flex-direction: row;
    margin: 10% 0% 5% 0%;
    flex-wrap: wrap;
}